@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

.cardDetail {
    background-color: rgb(238, 238, 238);
    border-radius: 5%;
    width: 300px;
    margin-top: 38px;
    margin-bottom: 20px;
    min-height: 585px;
    box-shadow: 10px 10px 5px #000000;
}
.Header {
    background-color: rgb(239, 239, 239);
    border-radius: 50%;
}
.ItemHeader {
    color: black;
    text-align: center;
    font-family: 'Merienda One', cursive;
}

.Info {
    background-color: rgb(238, 238, 238);
    font-size: 16px;
    color: black;
    font-family: 'Fira Sans', sans-serif;
    justify-content: space-between;
    list-style: none;
}

.ItemFooter {
    background-color: rgb(238, 238, 238);
    min-height: 50px;
}

.stockInfo {
    color: black;
}