
#itemCard {
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: 10px 10px 5px #000000;
    width: 300px;
    margin-top: 38px;
    margin-bottom: 20px;
}
#itemCard p {
    color: black;
}
