
.cards {
    margin-left: 10px;
}
.cardimg {
    border-radius: 5%;
    box-shadow: 10px 10px 5px #000000;
    max-width: 300px;
    min-height: 300px;
}

.itemCard p {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
